header {
    align-items: center;
    background: linear-gradient(200deg, #ff495d, #6244b0 50%, black 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.75em 1.5em;
  
    svg {
        fill: currentColor;
        mix-blend-mode: overlay;
    }
  
}
  
h1 {
    align-items: center;
    display: flex;
    font-size: 200%;
    margin: 0;
    text-transform: uppercase;
  
    svg {
        margin-block-start: -0.25em;
        margin-inline-end: 0.5em;
        width: 1.25em;
    }
  
}
  
button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
  
    &:hover {
        opacity: 0.5;
    }
  
    svg {
        height: 22px;
    }
  
}
  